
/********* General CSS *********/
:root {
  --background: #2C2C2C;
  --linkedin: #0A66C2;
  --youtube: #e52d27;
  --twitter: #1D9BF0;
}

body {
  color: #777777;
  font-weight: 500;
  background: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
  color: #4a4c70;
}

a {
  color: #4a4c70;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #FDBE33;
  outline: none;
  text-decoration: none;
}

.btn.btn-custom {
  padding: 12px 20px;
  text-align: center; 
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  border-radius: 0;
  border: 2px solid #FDBE33;
  box-shadow: inset 0 0 0 0 #FDBE33;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn.btn-custom:hover {
  color: #20212B;
  box-shadow: inset 0 0 0 30px #FDBE33;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-size: inherit;
  margin-left: 0;
}

/****** Loader & Back to Top ******/
#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
  -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
  transition: opacity .3s ease-out, visibility 0s linear .3s;
  z-index: 999;
}

#loader.show {
  -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
  transition: opacity .6s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loader {
  position: relative;
  width: 45px;
  height: 45px;
  border: 5px solid #dddddd;
  border-top: 5px solid #FDBE33;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.back-to-top {
  position: fixed;
  display: none;
  background: #FDBE33;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top i {
  color: #4a4c70;
  padding-top: 10px;
}

.back-to-top:hover {
  background: #4a4c70;
}

.back-to-top:hover i {
  color: #FDBE33;
}

/*********** Flag CSS **********/
.flag-icon {
  border-radius: 5px;
  width: 80%;
  
}

/*********** Nav Bar CSS **********/
.logo {
  border-radius: 8px;
  width: 30%;
}

.navbar {
  position: relative;
  transition: .5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: .5s;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 15px 8px 15px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #FDBE33;
  transition: none;
}

/********** Hero CSS ***********/
.carousel {
  position: relative;
  width: 100%;
  min-height: 300px;
  background: #ffffff;
  margin-bottom: 45px;
}

.carousel .container-fluid {
  padding: 0;
}

.carousel .carousel-item {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .carousel-img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  text-align: right;
  overflow: hidden;
}

.carousel .carousel-img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.carousel .carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-text {
  position: absolute;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.carousel .carousel-text h1 {
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.carousel .carousel-text p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.carousel .carousel-btn .btn.btn-custom {
  color: #ffffff;
}

.carousel .carousel-btn .btn.btn-custom:hover {
  color: #20212B;
}

.carousel .carousel-btn .btn:first-child {
  margin-right: 15px;
}

.carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FDBE33;
  background: rgba(256, 256, 256, .2);
  font-size: 22px;
  transition: .3s;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
  color: #ffffff;
  background: #FDBE33;
}

.carousel .owl-nav .owl-prev {
  margin-right: 2px;
}

.carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}


/******* Page Header CSS *******/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 210px 0 90px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-bg-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h2 {
  position: relative;
  color: #FDBE33;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #FDBE33;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #ffffff;
}

.page-header a:hover {
  color: #FDBE33;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #ffffff;
}

.page-header a:last-child::after {
  display: none;
}


/******* Vendor CSS *******/
.heading {
  text-align: center;
  color: #454343;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  z-index: 999;
}

.white-heading {
  color: #ffffff;
}

.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}

/******* Home Text CSS *******/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #FFFFFF;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
  0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
  0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/******* Footer CSS *******/
.footer {
  background: var(--bs-dark);
}

.footer .footer-item a {
  line-height: 35px;
  color: var(--bs-body);
  transition: 0.5s;
}

.footer .footer-item p {
  line-height: 35px;
}

.footer .footer-item a:hover {
  letter-spacing: 1px;
  color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
  transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
  background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
  color: var(--bs-primary) !important;
}

*** Social Media ***
.background {
  background: var(--background);
  display: grid;
  place-items: center;
  height: 100vh;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 15px;
}

.social-media-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

.social-media-button:hover:nth-child(1) {
  background:  radial-gradient(
      circle at 30% 107%, #fdf497 0%, 
      #fdf497 5%, #fd5949 45%,
      #d6249f 60%,#285AEB 90%
  ); 
}

.social-media-button:hover:nth-child(2) {
  background: var(--twitter);
}

.social-media-button:hover:nth-child(3) {
  background: var(--linkedin);
}


/******* Responsive CSS *******/
@media (max-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    top: 45px;
    padding: 20px 60px;
    background: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #20212B !important;
    border-bottom: none;
  }

  .page .navbar {
    background: #20212B !important;
  }

.navbar a.nav-link {
    padding: 8px 15px;
    font-size: 16px;
    letter-spacing: 1px;
  }
} 

@media (max-width: 991.98px) {   
  .navbar {
      padding: 15px;
      background: #20212B !important;
  }
  
  .navbar a.nav-link {
      padding: 5px;
  }
}

@media (max-width: 991.98px) {
  .carousel .carousel-text h1 {
      font-size: 35px;
  }
  
  .carousel .carousel-text p {
      font-size: 16px;
  }
  
  .carousel .carousel-text .btn {
      padding: 12px 30px;
      font-size: 15px;
      letter-spacing: 0;
  }
}

@media (max-width: 767.98px) {
  .carousel .carousel-text h1 {
      font-size: 30px;
  }
  
  .carousel .carousel-text .btn {
      padding: 10px 25px;
      font-size: 15px;
      letter-spacing: 0;
  }

  #home-text {
    margin-left: -100px;
    width: auto;
  }
}

@media (max-width: 575.98px) {
  .carousel .carousel-text h1 {
      font-size: 25px;
  }
  
  .carousel .carousel-text .btn {
      padding: 8px 20px;
      font-size: 14px;
      letter-spacing: 0;
  }
}

